In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
sns.set()

In [12]:
data =  "Data/data.csv"
df = pd.read_csv(data)
df.head()
df.describe(include='all')

          crop     moisture        temp        pump
count      200   200.000000  200.000000  200.000000
unique       1          NaN         NaN         NaN
top     cotton          NaN         NaN         NaN
freq       200          NaN         NaN         NaN
mean       NaN   633.085000   27.750000    0.750000
std        NaN   279.077118   10.869602    0.434099
min        NaN     4.000000   10.000000    0.000000
25%        NaN   500.500000   18.000000    0.750000
50%        NaN   693.500000   28.000000    1.000000
75%        NaN   850.750000   38.000000    1.000000
max        NaN  1022.000000   45.000000    1.000000

In [10]:
df.info()
null_counts = df.isnull().sum()
print(null_counts)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   crop      200 non-null    object
 1   moisture  200 non-null    int64
 2   temp      200 non-null    int64
 3   pump      200 non-null    int64
dtypes: int64(3), object(1)
memory usage: 6.4+ KB
crop        0
moisture    0
temp        0
pump        0
dtype: int64

In [22]:
# df_filtered = df[df['pump'] == 0]
# plt.figure(figsize=(10, 5))
# plt.scatter(df_filtered['moisture'], df_filtered['temp'])
# plt.xlabel('Moisture')
# plt.ylabel('Temperature')
# plt.title('Scatter Plot between Moisture and Temperature when Pump is 1')
# plt.show()

In [21]:
# plt.figure(figsize=(10, 5))
# plt.scatter(df['moisture'], df['temp'])
# plt.xlabel('moisture')
# plt.ylabel('pump')
# plt.title(f'Scatter Plot of pump v/s moisture')
# plt.show()